
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a href="https://github.com/reach2arunraj/Blog_Website" target="_blank" class="btn btn-primary"><i class="fab fa-github"></i>     GET ON</a>
  </div>
</div>
</body>
</html>
